name: edaiss-connector-ui-deploy-dev

#on: workflow_dispatch
on:
  push:
    branches:
      - develop
  workflow_dispatch:

# Permissions required for OIDC authentication
permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  build-and-push-to-ACR:
    runs-on: ubuntu-latest

    steps:
     # Checkout the repository to the GitHub Actions runner
     - name: Checkout
       uses: actions/checkout@v4
     # Login to Azure with Github secrets variables
     - name: Azure Login
       uses: azure/login@v2
       with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 
     # Login to the Azure Container Registry
     - name: Login to ACR
       run: az acr login --name acrin2edaissdataspacedev

     # Build and push connector ui image to ACR
     - name: Build & push connector image
       uses: docker/build-push-action@v4
       with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            acrin2edaissdataspacedev.azurecr.io/connector-ui:latest
            acrin2edaissdataspacedev.azurecr.io/connector-ui:${{ github.sha }}
     
